export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"
export ZDOTDIR=$HOME/.config/zsh

export HISTFILE="$HOME/.cache/zsh/.zsh_history" 
export HISTSIZE=10000                   # Maximum events for internal history
export SAVEHIST=10000                   # Maximum events in history file
export HISTORY_SUBSTRING_SEARCH_PREFIXED="true"

export TIME_STYLE="+%m-%d-%y %I:%M%p"
export EZA_COLORS="*.tfvars=38;5;13:*.tf=38;5;13:*.yml=38;5;210:*.conf=38;5;215"

export P10K_CONF=$HOME/.config/zsh/.p10k.zsh

export CZ_CONF=$HOME/.config/chezmoi/chezmoi.toml
export CZ_DIR=$HOME/.local/share/chezmoi/
export EDITOR="nvim"
export VISUAL="nvim"
# ZSH AUTOSUGGEST 
ZSH_AUTOSUGGEST_ACCEPT_WIDGETS+=(edit-select-move::forward-char edit-select-move::end-of-line forward-char end-of-line vi-forward-char vi-end-of-line vi-add-eol)
ZSH_AUTOSUGGEST_PARTIAL_ACCEPT_WIDGETS+=(edit-select-move::forward-word)
{{- if contains "WSL" .chezmoi.kernel.osrelease }}
export BROWSER="$HOME/.local/bin/firefox-open"
export SSL_CERT_FILE=/etc/ssl/cert.pem
export REQUESTS_CA_BUNDLE=/etc/ssl/cert.pem
export CURL_CA_BUNDLE=/etc/ssl/cert.pem
export TF_PLUGIN_CACHE_DIR="$HOME/.terraform.d/plugin-cache"

# Point ssh clients at the systemd-user ssh-agent (see ~/.config/systemd/user/ssh-agent.service).
export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR:-/run/user/$UID}/ssh-agent.socket"
{{ else }}
export MANGOHUD=1
{{ end }}
{{- if hasKey . "env" }}
# Machine-local env vars (from chezmoi.toml [data.env])
{{- range $name, $value := .env }}
export {{ $name | upper }}={{ $value }}
{{- end }}
{{- end }}
# Add Go
export PATH="$HOME/go/bin:$PATH"


# UV
export PATH="$HOME/.local/bin:$PATH"



