[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox (Windows)
Comment=Windows Firefox via WSL
Exec={{ .chezmoi.homeDir }}/.local/bin/firefox-open %U
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
