alias ls="eza -la --group-directories-first --icons"
alias cd="z"
alias cat="bat --style='default,-header-filename'"
alias grep="rg"
alias config='/usr/bin/git --git-dir=$HOME/.git-backup/ --work-tree=$HOME'
alias cz='chezmoi'
alias fla="flavours apply"
alias fli="flavours info"
alias flav="flavours --verbose apply"
alias tf="terraform"
alias cls="clear"

{{- if contains "WSL" .chezmoi.kernel.osrelease}}
alias code="/mnt/c/Program\ Files/Microsoft\ VS\ Code/bin/code"
{{end}}
gs() {
	git status "$@"
}
ga() {
	git add "$@"
}
gc() { 
	git commit "$@"
}
gps() {
	git push "$@"
}
gpl() {
	git pull "$@"
}

lg() {
  git add .;
  git commit -m "$@"
  git push
}
