alias ls="eza -la --group-directories-first --icons"
alias lsl="eza -l --group-directories-first --icons"
alias cd="z"
alias cat="bat --style='default,-header-filename'"
alias grep="rg"
alias cz='chezmoi'
alias tf="terraform"
alias cls="clear"
alias tv="tidy-viewer"
{{- if contains "WSL" .chezmoi.kernel.osrelease }}
alias code="/mnt/c/Users/ematijevich/scoop/apps/vscode/current/bin/code"
alias edge='/mnt/c/Program Files (x86)/Microsoft/Edge/Application/msedge.exe'
{{ end }}
